HUGGING_FACE_HUB_TOKEN: "{{{ hugging_face_token }}}"
ORACLE_DB_USERNAME: "{{{ adb_username }}}"
ORACLE_DB_PASSWORD: "{{{ adb_admin_password }}}"
ORACLE_DB_DSN: "{{{ adb_service_name }}}"
ORACLE_DB_WALLET_LOCATION: "{{{ adb_wallet_location }}}"
ORACLE_DB_WALLET_PASSWORD: "{{{ adb_admin_password }}}"
